:root {
    --bg-color: #BD574E;
    --secondary-color: #8d423b;
    --main-color: #FF8080;
}

body {
    background-color: #eaeaea;
}

.navbar {
    background-color: var(--bg-color);
    border: 0px;
}

.navbar-title {
    color: white;
}

.titlebar {
    background-color: var(--secondary-color);
    color: white;

    @media (min-width: 576px) {
        padding: 30px;
    }

    @media (max-width: 576px) {
        padding: 10px;
    }
}

.title-card {
    background-color: var(--bg-color);
    color: white;
    padding: 5px;
    width: 50%;
    border-radius: 10px 10px 0px 0px;
}

.caption {
    position: absolute;
    margin-left: -200px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    /* Ubah angka di dalam rgba untuk mengatur transparansi dan warna latar belakang */
    color: white;
    padding: 10px;
    box-sizing: border-box;
}

.galeri-foto {
    @media (min-width: 576px) {
        width: 200px;
        height: 100px;
    }

    @media (max-width: 576px) {
        width: 150px;
        height: 100px;
    }

}