@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #BD574E;
    --secondary-color: #8d423b;
    --main-color: #FF8080;
}

.btn-primary {
    background-color: var(--main-color);
    border: 0px;
    transition: .5s;
}

.btn-primary:hover {
    background-color: #ee7676;
}

.btn-primary:focus {
    background-color: #ee7676;
}

.card {
    border-radius: 10px;
}

.card-img-top {
    border-radius: 10px 10px 0px 0px;
}